/*  Formatação de Paragráfo */

p {
    color: rgb(1, 0, 1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* Formatação h1 e h2 */

h1 {
    color: rgb(120, 19, 159);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

h2 {
    color: rgb(194, 44, 194);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

/* formatação link e textos */
a , b , strong {
    display: flex;
    align-self: center;
    justify-self: center;
}
